@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.tab {
    width: 33%;
}

.header {
    background-color: rgb(92, 92, 92);
    height: 90px;
    display: flex;
}

#name-link,
#name-link:link,
#name-link:visited
 {
    font-family: 'Crimson Text', serif;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    margin-top: 2.2rem;
    text-align: center;
    font-size: 2.2rem;
}

#name-link:hover {
    color: #f8f8f8;
}

#home,
#deposit,
#withdrawal  {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    border: 2px solid black;
    box-shadow: 10px 10px 8px #888888;
}

.horizontal {
    margin-bottom: 7rem;
    margin-top: 2rem;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active .tab {
    background-color:#888;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#000;
} /*Color of underline*/

#pie-my{
    height: 200px;
    width: 200px;
    display: inline-block;
   
}

#pie-other{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 250px;   
}

#chartDiv{
    text-align: center;
}

.account-main{
    display: flex;
    
}

.account-summary{
    float:left
.page-footer {
    margin-top: 3rem;

}